<div>
  <p>こんにちは、この度はご利用ありがとうございます。<br>
    <b>24時間以内</b>に以下から設定を行い登録を完了してください。</p>
  <p></p>
  <p><a href="<%= @account_creation_url.html_safe %>">ユーザー登録</a></p>
  <p></p>
  <p>もしこのメールに心当たりが無い場合はこのメールを破棄してください。</p>
</div>